.blog {
  display: flex;
  justify-content: center;
}

.container {
  width: 1400px;
  display: flex;
  padding: 30px 10px;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.blogInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.username {
  font-weight: bold;
  font-size: 20px;
}
.time {
  font-weight: 300;
  font-size: 15px;
  color: #797777;
}

.title {
  font-size: 25px;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

@media screen and (max-width: 480px) {
  .right {
    width: 100%;
  }
  .left {
    display: none;
  }
  .title {
    font-size: 15px;
  }
  .username {
    font-weight: 500;
    font-size: 15px;
  }
  .content {
    font-size: 18px;
  }
  .container {
    justify-content: c;
  }
  .author {
    margin-top: 10px;
    margin-bottom: 150px;
  }
  .videoframe{
    width: 355px;
    height: 200px;
  }
  .avatar {
   width: 30px;
   height: 30px;
  }
}
